::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #66686f;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #66686f;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #66686f;
}

.editable {
  outline: none;
}

.editable:empty:before {
  content: attr(data-placeholder);
}

.blinking {
  -webkit-animation: 1s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;
}

/* video::-webkit-media-controls-volume-control-container {
  display: none !important;
} */

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
